{% extends 'store/base.html' %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 bg-white p-4 rounded shadow-sm">
    <h2 class="mb-2">Shipping Details</h2>
    <p class="text-muted mb-4">
      Please enter your details. You will pay upon delivery.
    </p>

    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label fw-bold">Full Name</label>
        <input type="text" name="name" class="form-control" required />
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Phone Number</label>
        <input type="text" name="phone" class="form-control" required />
      </div>

      <div class="mb-4">
        <label class="form-label fw-bold">Shipping Address</label>
        <textarea
          name="address"
          rows="3"
          class="form-control"
          required
        ></textarea>
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success btn-lg">
          Place Order
        </button>
      </div>
    </form>

    <div class="mt-4 text-center">
      <a
        href="{% url 'cart_detail' %}"
        class="text-decoration-none text-secondary"
        >← Back to Cart</a
      >
    </div>
  </div>
</div>
{% endblock %}
